.contactimg {
    width: 50%;
    height: 50%;
}


.card {
    background-color: #F8F9FA !important;
    border-color: #F8F9FA !important; 
}

.imgcont {
  display:flex;
  align-items:center;
}
/* .carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
} */

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}

.carousel-indicators li {
    display: inline-block;
    /* width: 48px;
    height: 48px; */
    /* margin: 10px; */
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #0000ff;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
.carousel-indicators .active {
    /* width: 48px;
    height: 48px;
    margin: 10px; */
    background-color: #0f0f07;
}